.color-picker-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(66, 1, 66); 
}

.color-picker-box {
  background-color: maroon;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.colors-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.color {
  width: 30px;
  height: 30px;
  margin: 5px;
  cursor: pointer;
}

button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px;
}
